.save-wrapper {
	display: flex;
}

.saved-game {
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: 1px solid black;
	margin: 0;
	padding: 0;
	height: 100px;
	overflow: hidden;
	outline: none;
}

.new-game {
	display: flex;
}

.snapshot {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.button-text {
	padding: 10px;	
}

.delete-button {
	margin-left: 10px;
	width: 100px;
}
