.menu {
	margin: auto;
	width: var(--content-width);
	max-width: var(--content-max-width);
	margin-top: 20px;
}

.save-wrapper {
	display: flex;
	margin-bottom: 10px;
}

.saved-game {
	display: flex;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	width: 300px;
	height: 100px;
	overflow: hidden;
	background: white;
}

.button-text {
	flex: 1;
	padding: 10px;
}

.delete-button {
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 10px;
	padding: 10px;
	width: 100px;
	background: white;
}

.new-game {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	width: 410px;
	max-width: 100%;
	background: white;
}
.add-to-homescreen {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px;
	width: 410px;
	max-width: 100%;
	background: white;
}

.snapshot {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.hint {
	margin-bottom: 10px;
}

.drop-area {
	position: relative;
	width: min-content;
}
.drag-over::before {
	content: "drop image";
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px dashed grey;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 1;
}
.paste-area {
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	width: 210px;
	text-align: center;
}
.upload-wrapper {
	position: relative;
	width: 210px;
	height: min-content;
}
.upload-button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	background: white;
}
.invisible-file {
	display: none;
}

.label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 200px;
}

.input {
	border: 1px solid black;
	border-radius: 5px;
	padding: 0 10px;
	width: 100px;
}

.accept {
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	background: white;
}
