.menu {
	margin: auto;
	width: var(--content-width);
	max-width: var(--content-max-width);
	margin-top: 20px;
}

.save-wrapper {
	display: flex;
	margin-bottom: 10px;
}

.saved-game {
	display: flex;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	height: 100px;
	overflow: hidden;
	background: white;
}

.button-text {
	padding: 10px;
	width: 200px;
}

.delete-button {
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 10px;
	width: 100px;
	background: white;
}

.new-game {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	background: white;
}

.snapshot {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.hint {
	margin-bottom: 10px;
}

.file {
	width: 300px;
}

.label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 200px;
}

.input {
	border: 1px solid black;
	border-radius: 5px;
	width: 100px;
}

.accept {
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	background: white;
}
