.spinput {
	display: flex;
	border: 2px solid var(--carbon);
	border-radius: 5px;
	width: 100px;
	background-color: white;
}
.spinput>button {
	position: relative;
	flex: 0 0 24px;
	width:  24px;
	height:  24px;
}
.spinput>button:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid var(--carbon);
	border-radius: 2px;
	width: 10px;
	background-color: var(--carbon);
}
.spinput>button:last-of-type:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid var(--carbon);
	border-radius: 2px;
	height: 10px;
	background-color: var(--carbon);
}
.spinput>input {
	flex: 1 0 0;
	min-width: 0;
	text-align: center;
}
